@import '../../assets/styles/variables';

#sidebar {
  float: left;
  // width: 25%;
  display: flex;
  height: 100vh;
  min-width: 160px;
  background-color: $light-accent;

  ul {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 100%;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    justify-content: space-between;
    overflow: hidden;

    li {
      text-transform: capitalize;
      width: 100%;
      text-align: left;
      padding: 15px;

      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }

      a {
        text-decoration: none;
        color: #333;
      }
    }
  }
}
